.App {
	min-height: 100vh;
	text-align: center;
	background-color: rgba(30, 30, 30, 1);
}

.container {
	margin: auto;
	max-width: 1200px;
	min-width: 500px;
}

.formLogin {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formLogin input {
	padding: 15px;
	margin: 10px;
}

.mailInput,
.passwordInput {
	display: flex;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	width: 50%;
	text-align: center;
	color: #fff;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.mailInput input,
.passwordInput input {
	width: 40%;
}

.loginInputBtn {
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	background-color: #72a1e5;
	border: solid 2px black;
	border-radius: 8px;
}

.home {
	color: white;
}

.home h2 {
	margin: 0;
}

.commandsWrapper {
	display: flex;
	justify-content: space-evenly;
}

.commandPanel {
	height: 100%;
}

.chartWrapper {
}

.chart {
	width: 50%;
	height: 100%;
}

.resultWrapper {
	height: 500px;
	display: flex;
	justify-content: space-evenly;
}

.wrappers {
	height: 100%;
	width: 33%;
	overflow: auto;
}

.wrappers .value {
	width: 90%;
	overflow-x: hidden;
	padding: 2px;
}

.amosWrapper img {
	width: 40%;
}

.elements {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(142, 173, 240, 0.76);
	margin: 5px;
	padding: 5px;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
	box-shadow: 10px 5px 5px rgba(92, 92, 92, 0.473);
	border: solid 2px black;
}

.userElement {
}

.locElement {
}

.cmdDataBtnsWrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cmdDataBtns,
.cmdChartTypeBtns {
	padding: 10px;
	margin: 10px;
	color: white;
	border: solid 2px white;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
}

.cmdDataBtns {
	background-color: #5460ca;
	padding: 10px;
	margin: 10px;
}

.cmdChartTypeBtnsWrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cmdChartTypeBtns {
	background-color: #48b170;
	padding: 10px;
	margin: 10px;
}
